services:
  backend:
    build:
      context: ./src/Backend
      dockerfile: Dockerfile
    container_name: nobat-backend
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000

networks:
  default:
    name: nobat-network
